# Folder to copy built data into (if unset no copying will be done).
PUBLISH_PATH="../../../../Applications/MAMP/htdocs/my-wordpress-folder/wp-content/plugins/"

# Folder name of your Plugin inside `wp-content/plugins` folder (optional, will use fallback if unset).
FOLDER_NAME="my-plugin-folder-name"
