# Folder to copy built data into (if unset no copying will be done).
PUBLISH_PATH="/Users/<YOUR_USERS_NAME>/Herd/<YOUR_WORDPRESS_FOLDER>/wp-content/plugins"
#PUBLISH_PATH="../../../../Applications/MAMP/htdocs/<YOUR_WORDPRESS_FOLDER>/wp-content/plugins/"

# Folder name of your Plugin inside `wp-content/plugins` folder (optional, will use fallback if unset).
FOLDER_NAME="<YOUR_PLUGIN_FOLDER_NAME>"
